:root {
    --listView--gridItemSize: 14.5rem;
    --listView--gridGap: 1rem;
    --listItem--border-radius: 0.5rem;
    --listItem--max-width: 400px;
    --listItem--contentPadding: 0.5rem;
}

.listView--grid,
.listView--grid-compact {
    > .arpaList__body {
        > .arpaList__bodyMain > .arpaList__items.arpaList__items {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(var(--listView--gridItemSize), 1fr));
            gap: var(--listView--gridGap);
            place-items: center center;
        }
    }

    arpa-image {
        --spinner-size: 3rem;
        --spinner-thickness: 4px;
        --preloader-outline-width: 4px;
    }
}

.listItem--grid,
.listItem--grid-compact {
    position: relative;
    flex-direction: column;
    align-self: stretch;
    min-width: 0;
    padding: 0;
    border-radius: var(--listItem--border-radius);
    box-shadow: rgb(0 0 0 / 20%) 0 4px 12px;

    &:only-child {
        max-width: var(--listItem--max-width);
        aspect-ratio: 1 / 1;
    }

    > .listItem__main {
        flex-direction: column;
        gap: 0.25rem;
        width: 100%;
        padding: 0.6rem;

        > .listItem__contentWrapper {
            justify-content: flex-start;
            width: 100%;
            padding: 0;
        }
    }

    .listItem__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        justify-content: flex-start;
        padding: var(--listItem--contentPadding);

        .truncateText__readMoreButton {
            padding-top: 1rem;
            margin-top: auto;
        }
    }

    .listItem__contentHeader {
        flex: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;

        .tagList {
            width: 100%;
        }
    }

    /**
     * Title
     */

    .listItem__titleWrapper {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        max-width: 100%;
    }

    .listItem__title {
        display: block;
        flex: 0 1 auto;
        gap: 0;
        width: 100%;
        max-width: 100%;
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .listItem__titleText {
        width: 100%;
        padding: 0 4px 8px;
        color: var(--grey-800);
        text-align: left;
    }

    .listItem__subtitle.listItem__subtitle {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin-top: 2px;
    }

    /**
     * Image
     */

    .listItem__image {
        --listItem-imgSize: var(--listView--gridItemSize);

        top: 0;
        flex: 0 1 auto;
        width: 100%;
        min-width: 100%;
        min-height: 0;
        aspect-ratio: 1 / 1 !important;
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: var(--image-bg-color);
        border-radius: var(--listItem--border-radius);

        picture {
            min-width: 100%;

            img {
                object-fit: cover;
            }
        }
    }

    .listItem__imageError {
        width: 100%;
    }

    /**
     * Tags
     */

    .listItem__tags {
        .tag.tag {
            flex: 1 1 auto;
        }
    }

    /**
     * RHS
     */

    .listItem__rhs {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        flex-direction: row-reverse;
        gap: 0.2rem;
        height: 1.8rem;
    }

    /**
     * Checkbox
     */

    .listItem__checkboxContainer {
        height: 24px;
        background-color: var(--overlay);
        border-radius: 4px;
        box-shadow: rgb(99 99 99 / 10%) 0 2px 8px 0;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
    }

    /**
     * Navigation
     */

    .listItem__nav {
        .iconButton__button {
            background-color: var(--overlay);
            border-radius: 4px;
            box-shadow: rgb(99 99 99 / 10%) 0 2px 8px 0;
            transition: opacity 0.2s ease-in-out;

            --icon-button-size: 24px;
            --icon-button-height: 24px;
        }

        .selectCombo {
            margin-right: 0;
        }
    }

    .listItem__checkboxContainer,
    .iconButton {
        --icon-button-size: 24px;
    }

    /**
     * Hover
     */

    &:hover {
        .listItem__checkboxContainer {
            opacity: 1;
        }

        .listItem__nav .iconButton {
            opacity: 1;
        }
    }

    /**
     * Selected
     */

    &.listItem--selected {
        background-color: transparent;
        border: 2px dashed var(--grey-200);

        .listItem__checkboxContainer {
            opacity: 1;
        }
    }
}

.listItem--grid.listItem--grid {
    gap: 0;
}

@media (hover: none) {
    .listItem--grid .listItem__titleText.listItem__titleText {
        padding-right: 30px;
    }

    .listItem--grid .listItem__nav .iconButton,
    .listItem--grid .listItem__checkboxContainer {
        opacity: 1;
    }
}
