.listControls {
    position: sticky;
    top: 0;
    z-index: 4;
    display: flex;
    gap: var(--list-control-gap);
    align-items: center;
    max-width: 100%;
    padding: 0.5rem 0;
    background-color: var(--overlay);
    box-shadow: 0 4px 6px -2px rgb(0 0 0 / 10%);
    transition: var(--theme-transition);

    &:not(gallery-controls) > *:first-child {
        margin-left: auto;
    }

    .comboBox.comboBox {
        background-color: var(--color-background);
    }

    list-views {
        margin-left: auto;
    }

    > list-filters {
        margin-left: auto;
    }

    &:empty {
        display: none;
    }
}
